<div class="container mat-elevation-z8">
  <div class="loading-shade" *ngIf="isLoadingResults">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  </div>
  <div class="button-row">
    <a mat-flat-button color="primary" [routerLink]="['/consumers']"><mat-icon>list</mat-icon></a>
  </div>
  <mat-card class="card">
    <mat-card-header>
      <mat-card-title
        ><h2>{{ consumer.firstName }}</h2></mat-card-title
      >
    </mat-card-header>
    <mat-card-content>
      <dl>
        <dt>Consumer Last Name:</dt>
        <dd>{{ consumer.lastName }}</dd>
        <dt>Email:</dt>
        <dd>{{ consumer.email }}</dd>
      </dl>
    </mat-card-content>
    <mat-card-actions>
      <a mat-flat-button color="primary" [routerLink]="['/consumer-edit', consumer._id]"><mat-icon>edit</mat-icon></a>
      <a mat-flat-button color="warn" (click)="deleteConsumer(consumer._id)"><mat-icon>delete</mat-icon></a>
    </mat-card-actions>
  </mat-card>
</div>
